<% provide(:title, 'Sign up') %>
<center>
<h1>Ring de BONDへようこそ！</h1>
<%= image_tag('rogo.png')%>

<h2>大学より発行されたアカウントID(7桁)を入力してください</h2>
<h2>登録内容を入力後、送信ボタンを押してください</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <%= form_for(@user, url: signup_path) do |f| %>
      <%= f.label :アカウントＩＤ %>
      <%= f.text_field :accountId %>

      <%= f.label :氏名 %>
      <%= f.text_field :uName %>

      <%= f.label :パスワード %>
      <%= f.password_field :password %><br>

  <%= f.radio_button :sexial, 1 %>男
  <%= f.radio_button :sexial, 2 %>女<br>

      <%= f.submit "アカウント作成", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</center>







